@charset "UTF-8";
/*! FormantaSass: Core | GNU LGPL v3 or CeCILL-C 1.0 | © 2016 - 2018 Michael Becker, bemit UG (haftungsbeschränkt) | formanta.bemit.eu */
/*

    FormantaSass, the individualist Sass Framework

    FormantaSass: Core - Grid system and controlling mixin/classes

    Copyright  : © 2016-2018 Michael Becker, bemit.eu
    Author     : Michael Becker, bemit UG (haftungsbeschränkt)
    Licence:   : GNU LGPL v3 | CeCILL-C 1.0
*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  image-rendering: -moz-optimizeQuality;
  /* Firefox */
  image-rendering: -o-optimizeQuality;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  /* Internetexplorer */
  border: 0;
  /* removes border around images in older Internetexplorer */ }

select {
  width: 100%; }

/* Remove standard design of browsers */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  line-height: 1; }

textarea {
  height: auto;
  min-height: 50px; }

/**
    Syntax: 'max100px', 'min100px'
*/
/*
@mixin for-bp-individual($widths...) {
    $media-str: '';
    $already-found: false;
    @each $width in $widths {
        $found: false;
        $tmp-media-str: '';
        @if(str-index($width, 'max')) {
            $found: true;
            $already-found: true;
            $tmp-media-str: '(max-width: ' + str-slice($width, 4) + ')';
        } @else if(str-index($width, 'min')) {
            $already-found: true;
            $found: true;
            $tmp-media-str: '(min-width: ' + str-slice($width, 4) + ')';
        }
        @if($already-found && $found) {
            $media-str: $media-str + ' and ';
            $already-found: false;
        }
            //$media-str: $media-str + $tmp-media-str;

        //width: $width;
    }
    $media-str: unquote($media-str);
    @media ($media-str) {
        @content;
    }

    //   @include for-bp-individual('max100', 'min200', '300', '450'){
    //       color: #fff;
    //   }

}*/
.for-gray-n1 {
  color: #4c4c4c; }

.for-gray-n2 {
  color: #191919; }

.for-gray-p1 {
  color: #b2b2b2; }

.for-gray-p2 {
  color: #e5e5e5; }

.for-fade {
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear; }
  .for-fade:hover {
    opacity: 0.6; }

.for-zoom {
  overflow: hidden;
  position: relative; }
  .for-zoom > * {
    position: relative;
    z-index: 2; }
  .for-zoom img:first-child,
  .for-zoom .zoom-overlay {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .for-zoom img:first-child {
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
    z-index: 0; }
  .for-zoom:hover img:first-child {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.for-zoom-overlay {
  overflow: hidden;
  position: relative; }
  .for-zoom-overlay > * {
    position: relative;
    z-index: 2; }
  .for-zoom-overlay img:first-child,
  .for-zoom-overlay .zoom-overlay {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .for-zoom-overlay img:first-child {
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
    z-index: 0; }
  .for-zoom-overlay .zoom-overlay {
    background: rgba(76, 76, 76, 0.5);
    z-index: 1;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }
  .for-zoom-overlay:hover img:first-child {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .for-zoom-overlay:hover .zoom-overlay {
    opacity: 0.2; }

html {
  /* It is advised to set font-size and line-height here as rem is becoming popular (rem = root em) */
  font-size: 16px;
  font-size: 1rem;
  line-height: normal; }

body {
  color: #7f7f7f;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left; }

a {
  color: #0044aa;
  font: normal 400 16px/normal Helvetica, sans-serif;
  font: normal 400 1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left; }
  a:hover {
    color: #0044aa;
    font: normal 400 16px Helvetica, sans-serif;
    font: normal 400 1rem Helvetica, sans-serif;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left; }

p {
  color: #7f7f7f;
  font: normal 400 16px/normal Helvetica, sans-serif;
  font: normal 400 1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 4.08px 0px;
  margin: 0.255rem 0rem; }

h1 {
  color: #7f7f7f;
  font: normal 400 40px/normal Helvetica, sans-serif;
  font: normal 400 2.5rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 44.2px 0px;
  margin: 2.7625rem 0rem; }

h2 {
  color: #7f7f7f;
  font: normal 400 32px/normal Helvetica, sans-serif;
  font: normal 400 2rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 24.48px 0px;
  margin: 1.53rem 0rem; }

h3 {
  color: #7f7f7f;
  font: normal 400 28px/normal Helvetica, sans-serif;
  font: normal 400 1.75rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 16.66px 0px;
  margin: 1.04125rem 0rem; }

h4 {
  color: #7f7f7f;
  font: normal 400 24px/normal Helvetica, sans-serif;
  font: normal 400 1.5rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 10.2px 0px;
  margin: 0.6375rem 0rem; }

h5 {
  color: #7f7f7f;
  font: normal 400 20.8px/normal Helvetica, sans-serif;
  font: normal 400 1.3rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 6.188px 0px;
  margin: 0.38675rem 0rem; }

h6 {
  color: #7f7f7f;
  font: normal 400 17.6px/normal Helvetica, sans-serif;
  font: normal 400 1.1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 2.244px 0px;
  margin: 0.14025rem 0rem; }

.for-text-left {
  text-align: left; }

.for-text-center {
  text-align: center; }

.for-text-right {
  text-align: right; }

.for-display-block {
  display: block; }

.for-display-inline-block {
  display: inline-block; }

.for-display-inline {
  display: inline; }

.for-row:before, .for-row:after {
  content: ' ';
  display: table; }

.for-row:after {
  clear: both; }

/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
.for-col-1, .for-col-sm-1, .for-col-md-1, .for-col-lg-1, .for-col-lgx-1, .for-col-2, .for-col-sm-2, .for-col-md-2, .for-col-lg-2, .for-col-lgx-2, .for-col-3, .for-col-sm-3, .for-col-md-3, .for-col-lg-3, .for-col-lgx-3, .for-col-4, .for-col-sm-4, .for-col-md-4, .for-col-lg-4, .for-col-lgx-4, .for-col-5, .for-col-sm-5, .for-col-md-5, .for-col-lg-5, .for-col-lgx-5, .for-col-6, .for-col-sm-6, .for-col-md-6, .for-col-lg-6, .for-col-lgx-6, .for-col-7, .for-col-sm-7, .for-col-md-7, .for-col-lg-7, .for-col-lgx-7, .for-col-8, .for-col-sm-8, .for-col-md-8, .for-col-lg-8, .for-col-lgx-8, .for-col-9, .for-col-sm-9, .for-col-md-9, .for-col-lg-9, .for-col-lgx-9, .for-col-10, .for-col-sm-10, .for-col-md-10, .for-col-lg-10, .for-col-lgx-10, .for-col-11, .for-col-sm-11, .for-col-md-11, .for-col-lg-11, .for-col-lgx-11, .for-col-12, .for-col-sm-12, .for-col-md-12, .for-col-lg-12, .for-col-lgx-12, .for-col-13, .for-col-sm-13, .for-col-md-13, .for-col-lg-13, .for-col-lgx-13, .for-col-14, .for-col-sm-14, .for-col-md-14, .for-col-lg-14, .for-col-lgx-14, .for-col-15, .for-col-sm-15, .for-col-md-15, .for-col-lg-15, .for-col-lgx-15, .for-col-16, .for-col-sm-16, .for-col-md-16, .for-col-lg-16, .for-col-lgx-16, .for-col-17, .for-col-sm-17, .for-col-md-17, .for-col-lg-17, .for-col-lgx-17, .for-col-18, .for-col-sm-18, .for-col-md-18, .for-col-lg-18, .for-col-lgx-18, .for-col-19, .for-col-sm-19, .for-col-md-19, .for-col-lg-19, .for-col-lgx-19, .for-col-20, .for-col-sm-20, .for-col-md-20, .for-col-lg-20, .for-col-lgx-20, .for-col-21, .for-col-sm-21, .for-col-md-21, .for-col-lg-21, .for-col-lgx-21, .for-col-22, .for-col-sm-22, .for-col-md-22, .for-col-lg-22, .for-col-lgx-22, .for-col-23, .for-col-sm-23, .for-col-md-23, .for-col-lg-23, .for-col-lgx-23, .for-col-24, .for-col-sm-24, .for-col-md-24, .for-col-lg-24, .for-col-lgx-24 {
  position: relative;
  min-height: 1px;
  float: left;
  /*&:not([class|="gutter"]) {
            @include for-gutter;
        }*/ }

.for-col-first {
  padding-left: 0; }

.for-col-last {
  padding-right: 0; }

.for-col-1 {
  width: 4.1666666667%; }

.for-col-2 {
  width: 8.3333333333%; }

.for-col-3 {
  width: 12.5%; }

.for-col-4 {
  width: 16.6666666667%; }

.for-col-5 {
  width: 20.8333333333%; }

.for-col-6 {
  width: 25%; }

.for-col-7 {
  width: 29.1666666667%; }

.for-col-8 {
  width: 33.3333333333%; }

.for-col-9 {
  width: 37.5%; }

.for-col-10 {
  width: 41.6666666667%; }

.for-col-11 {
  width: 45.8333333333%; }

.for-col-12 {
  width: 50%; }

.for-col-13 {
  width: 54.1666666667%; }

.for-col-14 {
  width: 58.3333333333%; }

.for-col-15 {
  width: 62.5%; }

.for-col-16 {
  width: 66.6666666667%; }

.for-col-17 {
  width: 70.8333333333%; }

.for-col-18 {
  width: 75%; }

.for-col-19 {
  width: 79.1666666667%; }

.for-col-20 {
  width: 83.3333333333%; }

.for-col-21 {
  width: 87.5%; }

.for-col-22 {
  width: 91.6666666667%; }

.for-col-23 {
  width: 95.8333333333%; }

.for-col-24 {
  width: 100%; }

@media (min-width: 768px) {
  .for-col-sm-1 {
    width: 4.1666666667%; }
  .for-col-sm-2 {
    width: 8.3333333333%; }
  .for-col-sm-3 {
    width: 12.5%; }
  .for-col-sm-4 {
    width: 16.6666666667%; }
  .for-col-sm-5 {
    width: 20.8333333333%; }
  .for-col-sm-6 {
    width: 25%; }
  .for-col-sm-7 {
    width: 29.1666666667%; }
  .for-col-sm-8 {
    width: 33.3333333333%; }
  .for-col-sm-9 {
    width: 37.5%; }
  .for-col-sm-10 {
    width: 41.6666666667%; }
  .for-col-sm-11 {
    width: 45.8333333333%; }
  .for-col-sm-12 {
    width: 50%; }
  .for-col-sm-13 {
    width: 54.1666666667%; }
  .for-col-sm-14 {
    width: 58.3333333333%; }
  .for-col-sm-15 {
    width: 62.5%; }
  .for-col-sm-16 {
    width: 66.6666666667%; }
  .for-col-sm-17 {
    width: 70.8333333333%; }
  .for-col-sm-18 {
    width: 75%; }
  .for-col-sm-19 {
    width: 79.1666666667%; }
  .for-col-sm-20 {
    width: 83.3333333333%; }
  .for-col-sm-21 {
    width: 87.5%; }
  .for-col-sm-22 {
    width: 91.6666666667%; }
  .for-col-sm-23 {
    width: 95.8333333333%; }
  .for-col-sm-24 {
    width: 100%; } }

@media (min-width: 992px) {
  .for-col-md-1 {
    width: 4.1666666667%; }
  .for-col-md-2 {
    width: 8.3333333333%; }
  .for-col-md-3 {
    width: 12.5%; }
  .for-col-md-4 {
    width: 16.6666666667%; }
  .for-col-md-5 {
    width: 20.8333333333%; }
  .for-col-md-6 {
    width: 25%; }
  .for-col-md-7 {
    width: 29.1666666667%; }
  .for-col-md-8 {
    width: 33.3333333333%; }
  .for-col-md-9 {
    width: 37.5%; }
  .for-col-md-10 {
    width: 41.6666666667%; }
  .for-col-md-11 {
    width: 45.8333333333%; }
  .for-col-md-12 {
    width: 50%; }
  .for-col-md-13 {
    width: 54.1666666667%; }
  .for-col-md-14 {
    width: 58.3333333333%; }
  .for-col-md-15 {
    width: 62.5%; }
  .for-col-md-16 {
    width: 66.6666666667%; }
  .for-col-md-17 {
    width: 70.8333333333%; }
  .for-col-md-18 {
    width: 75%; }
  .for-col-md-19 {
    width: 79.1666666667%; }
  .for-col-md-20 {
    width: 83.3333333333%; }
  .for-col-md-21 {
    width: 87.5%; }
  .for-col-md-22 {
    width: 91.6666666667%; }
  .for-col-md-23 {
    width: 95.8333333333%; }
  .for-col-md-24 {
    width: 100%; } }

@media (min-width: 1200px) {
  .for-col-lg-1 {
    width: 4.1666666667%; }
  .for-col-lg-2 {
    width: 8.3333333333%; }
  .for-col-lg-3 {
    width: 12.5%; }
  .for-col-lg-4 {
    width: 16.6666666667%; }
  .for-col-lg-5 {
    width: 20.8333333333%; }
  .for-col-lg-6 {
    width: 25%; }
  .for-col-lg-7 {
    width: 29.1666666667%; }
  .for-col-lg-8 {
    width: 33.3333333333%; }
  .for-col-lg-9 {
    width: 37.5%; }
  .for-col-lg-10 {
    width: 41.6666666667%; }
  .for-col-lg-11 {
    width: 45.8333333333%; }
  .for-col-lg-12 {
    width: 50%; }
  .for-col-lg-13 {
    width: 54.1666666667%; }
  .for-col-lg-14 {
    width: 58.3333333333%; }
  .for-col-lg-15 {
    width: 62.5%; }
  .for-col-lg-16 {
    width: 66.6666666667%; }
  .for-col-lg-17 {
    width: 70.8333333333%; }
  .for-col-lg-18 {
    width: 75%; }
  .for-col-lg-19 {
    width: 79.1666666667%; }
  .for-col-lg-20 {
    width: 83.3333333333%; }
  .for-col-lg-21 {
    width: 87.5%; }
  .for-col-lg-22 {
    width: 91.6666666667%; }
  .for-col-lg-23 {
    width: 95.8333333333%; }
  .for-col-lg-24 {
    width: 100%; } }

@media (min-width: 3000px) {
  .for-col-lgx-1 {
    width: 4.1666666667%; }
  .for-col-lgx-2 {
    width: 8.3333333333%; }
  .for-col-lgx-3 {
    width: 12.5%; }
  .for-col-lgx-4 {
    width: 16.6666666667%; }
  .for-col-lgx-5 {
    width: 20.8333333333%; }
  .for-col-lgx-6 {
    width: 25%; }
  .for-col-lgx-7 {
    width: 29.1666666667%; }
  .for-col-lgx-8 {
    width: 33.3333333333%; }
  .for-col-lgx-9 {
    width: 37.5%; }
  .for-col-lgx-10 {
    width: 41.6666666667%; }
  .for-col-lgx-11 {
    width: 45.8333333333%; }
  .for-col-lgx-12 {
    width: 50%; }
  .for-col-lgx-13 {
    width: 54.1666666667%; }
  .for-col-lgx-14 {
    width: 58.3333333333%; }
  .for-col-lgx-15 {
    width: 62.5%; }
  .for-col-lgx-16 {
    width: 66.6666666667%; }
  .for-col-lgx-17 {
    width: 70.8333333333%; }
  .for-col-lgx-18 {
    width: 75%; }
  .for-col-lgx-19 {
    width: 79.1666666667%; }
  .for-col-lgx-20 {
    width: 83.3333333333%; }
  .for-col-lgx-21 {
    width: 87.5%; }
  .for-col-lgx-22 {
    width: 91.6666666667%; }
  .for-col-lgx-23 {
    width: 95.8333333333%; }
  .for-col-lgx-24 {
    width: 100%; } }

.for-visible {
  display: block; }

.for-hidden {
  display: none; }

.for-visible {
  display: block; }

.for-hidden {
  display: none; }

@media (max-width: 767px) {
  .for-visible-smx {
    display: block; } }

@media (max-width: 767px) {
  .for-hidden-smx {
    display: none; } }

@media (min-width: 768px) {
  .for-visible-sm-up {
    display: block; } }

@media (min-width: 768px) and (max-width: 991px) {
  .for-visible-sm {
    display: block; } }

@media (max-width: 991px) {
  .for-visible-sm-down {
    display: block; } }

@media (min-width: 768px) {
  .for-hidden-sm-up {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .for-hidden-sm {
    display: none; } }

@media (max-width: 991px) {
  .for-hidden-sm-down {
    display: none; } }

@media (min-width: 992px) {
  .for-visible-md-up {
    display: block; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .for-visible-md {
    display: block; } }

@media (max-width: 1199px) {
  .for-visible-md-down {
    display: block; } }

@media (min-width: 992px) {
  .for-hidden-md-up {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .for-hidden-md {
    display: none; } }

@media (max-width: 1199px) {
  .for-hidden-md-down {
    display: none; } }

@media (min-width: 1200px) {
  .for-visible-lg-up {
    display: block; } }

@media (min-width: 1200px) and (max-width: 2999px) {
  .for-visible-lg {
    display: block; } }

@media (max-width: 2999px) {
  .for-visible-lg-down {
    display: block; } }

@media (min-width: 1200px) {
  .for-hidden-lg-up {
    display: none; } }

@media (min-width: 1200px) and (max-width: 2999px) {
  .for-hidden-lg {
    display: none; } }

@media (max-width: 2999px) {
  .for-hidden-lg-down {
    display: none; } }

@media (min-width: 3000px) {
  .for-visible-lgx {
    display: block; } }

@media (min-width: 3000px) {
  .for-hidden-lgx {
    display: none; } }

.for-gutter {
  padding: 9px; }
  @media (min-width: 768px) {
    .for-gutter {
      padding: 12px 12px; } }
  @media (min-width: 992px) {
    .for-gutter {
      padding: 12px 12px; } }
  @media (min-width: 1200px) {
    .for-gutter {
      padding: 18px 12px; } }
  @media (min-width: 3000px) {
    .for-gutter {
      padding: 18px 12px; } }

.for-gutter-thickest {
  padding: 30px; }

.for-gutter-thicker {
  padding: 24px; }

.for-gutter-thick {
  padding: 18px 12px; }

.for-gutter-normal {
  padding: 12px 12px; }

.for-gutter-thin {
  padding: 9px; }

.for-gutter-thinner {
  padding: 6px; }

.for-gutter-thinnest {
  padding: 3px; }

.for-gutter-none {
  /* just as reminder: when this class is together with a col-* class no gutter will be displayed! */ }

.for-container {
  margin-left: auto;
  margin-right: auto; }
  .for-container:before, .for-container:after {
    content: ' ';
    display: table; }
  .for-container:after {
    clear: both; }
  @media (max-width: 767px) {
    .for-container {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .for-container {
      width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .for-container {
      width: 940px; } }
  @media (min-width: 1200px) and (max-width: 2999px) {
    .for-container {
      width: 1000px; } }
  @media (min-width: 3000px) {
    .for-container {
      width: 1600px; } }

hr {
  border-top: 1px solid #e5e5e5; }

img {
  width: 100%;
  height: auto; }